# Created by .ignore support plugin (hsz.mobi)
node_modules/
package-lock.json
.idea/
bin/*.js
server/**/*.js
build/**/*.js
database/**/*.js
*.js.map
server/global/autogen/*
server/global/storage/*
client/public/assets/js/_autogen
index.1.html
client/public/admin/dashboard.test.html
build/installers/*
var/*
database/project/upgrade/dists
database/project/upgrade/dists/*
/nw-sdk/
/nw/
/build/kconst/autogen/
/yarn.lock
/os-lion.js
/build/compile/installer.iss
/VERSION.look
/client/app/index.js
/database/revs/resolved/
/database/cataloger/lumaguita.ts
/database/revs/last.revision.sql
/bin/node.exe
/sample2.js
/client/app/status.js
/client/app/nw.js
/client/app/listen.js
/client/app/page/index.js
/client/contents/simple.js
/etc/@zootakuxy/test1.js
/etc/@zootakuxy/test2.js
/etc/@zootakuxy/test3.js
/etc/promise-test.js
/client/public/assets/sass/main.css
/client/public/assets/sass/main.css.map
/client/public/assets/sass/admin/home.css
/client/public/assets/sass/admin/home.css.map
/client/public/assets/sass/admin/report.css
/client/public/assets/sass/admin/report.css.map
/client/public/assets/sass/admin/settings.css
/client/public/assets/sass/admin/settings.css.map
